<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
</head>
<body>
    <header class="site-header">
        <div class="site-header_start">
             <a href="#" th:text="${accountName}"></a>
             <a th:href="@{/user/blog/logout}" class="logout">ログアウト</a>
        </div>
        <div class="site-header_mid">
            <img th:src="@{/img/logo.png}" alt="blog-logo" class="logo">
           <div class="ullist">
            <ul class="list">
                <li><a th:href="@{/user/blog/list}">Home</a></li>
                <li><a th:href="@{/user/blog/register}">Register</a></li>
                <li><a th:href="@{/user/blog/delete/list}">Delete</a></li>
            </ul>
        </div>
        </div>
    </header>
    <main>
        <h2>削除したいブログを選択して下さい</h2>
        <div class="blog-list">
        <img src="logo.png" alt="">
        <img src="logo.png" alt="">
        <img src="logo.png" alt="">
        </div>


    </main>
    <footer id="footer">
		<p class="foot"> Copyright &copy; 2023 Learner All Rights Reserved.</p>
	</footer>
</body>
</html>