<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

	<div class="login">
		<h1>ログイン</h1>
		<form th:action="@{/user/login/process}" method="post">
			<input type="email" id="email" name="email" placeholder="メールアドレス">
			<input type="password" id="password" name="password" placeholder="パスワード">
			<button class="btn-log" type="submit" id="login-button">ログイン</button>
			<button class="btn-res" type="button" id="res-button"
				onclick="location.href='/user/register'">新規登録はこちら</button>

		</form>
	</div>


</body>

</html>