<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
  <div class="register">
    <h1>新規登録</h1>
    <form th:action="@{/user/register/process}" method="post">
       <input type="text" id="name" name="name" placeholder="名前">
       <input type="email" id="email" name="email" placeholder="メールアドレス">
       <input type="password" id="password" name="password" placeholder="パスワード">
       <button class="btn-res" type="submit" id="res-button">新規登録</button>
       <button class="btn-log" type="button" id="login-button" onclick="location.href='/user/login'">ログインはこちら</button>
       
   </form>
 </div>
</body>
</html>